<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io Freetuts.net</title>
</head>

<body>
    <!-- Thêm thư viện socket.io mà server cung cấp, nhờ nó mà dùng đc socket=io() -->
    <script src="/socket.io/socket.io.js"></script>

    <script>
        var socket = io(); // Lấy socket client từ phía server
        socket.on('information', function (sender, data) {
            console.log(sender);
            console.log('information : ', data);
        })
    </script>
</body>

</html>